.kc-form-group {
  display: flex;
  margin-bottom: 20px;
  width: 100%;

  .kc-inputfield {
    max-width: 500px;
  }

  .kc-form-group__identity {
    display: flex;
    flex-direction: column;
    margin: 0;

    .kc-form-group__is-required {
      color: $functionalError500;
      font-size: 20px;
      font-weight: 700;
      margin-left: 3px;
    }
  
    .kc-form-group__note {
      font-size: 11px;
      letter-spacing: 1px;
    }
  }

  &.kc-form-group--horizontal {
    .kc-form-group__label {
      margin-right: 30px;
      width: 300px;

      label {
        line-height: 24px;
      }
    }
  }

  &.kc-form-group--vertical {
    flex-direction: column;

    .kc-form-group__label {
      margin-bottom: 10px;
      max-width: 500px;
    }
  }
}