.kc-record-item-new {
  display: flex;
  width: fit-content;

  > label, .kc-record-item-new__value {
    width: fit-content;
    min-width: 150px;
  }

  > label {
    color: $neutral7;
    font-weight: 400;
    margin: 0;
  }

  .kc-record-item-new__value {
    label {
      color: $neutral11;
      margin: 0;
    }
  }

  &.kc-record-item-new--horizontal {
    align-items: center;

    > label {
      margin-right: 10px;
    }
  }

  &.kc-record-item-new--vertical {
    flex-direction: column;

    > label {
      margin-bottom: 10px;
    }
  }
}
