.kc-dropdown {
  background-color: $neutral1;
  height: fit-content;
  position: relative;

  > button, ul.kc-dropdown__items {
    border: 1px solid $neutral5;
    border-radius: 2px;
    background-color: transparent;
    width: 100%;
  }

  > button {
    cursor: pointer;
    height: 40px;
    padding: 0 12px;

    .kc-dropdown-button__content {
      color: $neutral9;
      display: flex;
      align-items: center;
      justify-content: space-between;

      span.kc-button-label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .kc-dropdown-button__icon i {
        margin-left: 20px;
        color: $neutral9;
      }
    }

    &:focus-within {
      border: 1px solid $functionalLink500;
      box-shadow: 0px 0px 0px 2px rgba(24, 144, 255, 0.2);
    }
  }

  ul.kc-dropdown__items {
    background-color: $neutral1;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    left: 0;
    list-style-type: none;
    margin: 0;
    max-height: 130px;
    overflow: auto;
    padding: 0;
    position: absolute;
    z-index: 999;

    &::-webkit-scrollbar {
      width: 6px;
    }
    
    &::-webkit-scrollbar-track {
      border-radius: 10px;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); 
    }

    li.kc-dropdown__item {
      button {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $neutral5;
        color: $neutral9;
        cursor: pointer;
        height: 40px;
        padding: 0 12px;
        text-align: left;
        width: 100%;

        &:hover {
          background-color: $neutral5;
        }
      }

      &:nth-last-child(1) {
        button {
          border-bottom: none;
        }
      }
    }
  }

  &.kc-dropdown--close {
    ul.kc-dropdown__items {
      display: none;
    }
  }

  &.kc-dropdown--fluid {
    width: 100%;
  }

  &.kc-dropdown--fixed {
    width: 200px;
  }

  &.kc-dropdown--disabled {
    background-color: $neutral3;
    
    > button {
      cursor: default;

      .kc-dropdown-button__content {
        color: $neutral6;

        .kc-dropdown-button__icon i {
          color: $neutral6;
        }
      }

      &:focus-within {
        border: 1px solid $neutral5;
        box-shadow: none;
      }
    }
  }

  &.kc-dropdown--bottom {
    ul.kc-dropdown__items {
      top: 40px;
      margin-top: 8px;
    }
  }

  &.kc-dropdown--top {
    ul.kc-dropdown__items {
      bottom: 40px;
      margin-bottom: 8px;
    }
  }
}
