.kc-tag {
  align-items: center;
  background-color: $neutral5;
  border-radius: 4px;
  color: $neutral10;
  display: flex;
  height: 30px;
  padding: 5px;

  &.kc-tag--disabled {
    opacity: 0.7;

    .kc-tag__remove-btn {
      cursor: default;

      &:hover {
        color: $neutral7;
      }
    }
  }

  .kc-tag__label {
    margin-right: 3px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .kc-tag__remove-btn {
    align-items: center;
    background-color: transparent;
    border: none;
    color: $neutral7;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 100%;
    padding: 0 3px;

    &:hover {
      color: $functionalError500;
    }
  }
}
