.kc-typo-bold {
  font-weight: 700;
}

.kc-headline1 {
  font-weight: 300;
  font-size: 100px;
  line-height: 120px;
  letter-spacing: -1.5px;
}

.kc-headline2 {
  font-weight: 300;
  font-size: 62px;
  line-height: 72px;
  letter-spacing: -0.5px;
}

.kc-headline3 {
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
}

.kc-headline4 {
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  letter-spacing: 0.25px;
}

.kc-headline5 {
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
}

.kc-headline6 {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.15px;
}

.kc-body1 {
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.5px;
}

.kc-body2 {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.25px;
}

.kc-button-label {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 1.25px;
}

.kc-caption {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.4px;
}

.kc-overline {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1.5px;
}
