$neutral1: #FFFFFF;
$neutral2: #FAFAFA;
$neutral3: #F5F5F5;
$neutral4: #F0F0F0;
$neutral5: #D9D9D9;
$neutral6: #BFBFBF;
$neutral7: #8C8C8C;
$neutral8: #595959;
$neutral9: #434343;
$neutral10: #262626;
$neutral11: #1F1F1F;
$neutral12: #141414;
$neutral13: #000000;

// Primary on Mobile
// $primary4: #F58C8D;
// $primary5: #E85F66;
// $primary6: #DC3644;
// $primary7: #B52435;
// $primary8: #8F1528;

$primary4: #9CE2F8;
$primary5: #69C5EC;
$primary6: #43A3D9;
$primary7: #0F77C0;
$primary8: #0A5CA5;

$functionalError600: #DB3848;
$functionalError500: #FF4D4F;
$functionalError400: #FF8379;
$functionalWarning600: #FBC74E;
$functionalWarning500: #FAAD14;
$functionalWarning400: #D78D0E;
$functionalSuccess600: #3AA813;
$functionalSuccess500: #52C41A;
$functionalSuccess400: #85DB4C;
$functionalLink600: #116FDB;
$functionalLink500: #1890FF;
$functionalLink400: #51B4FF;
